<div class="mommy">
<md-card class="child col-sm-6">
  <form>
    <md-input-container>
      <input md-input type="text" #name placeholder="Name" md-maxlength="50" required autocomplete="off"/>
    </md-input-container><br />
    <md-input-container>
      <input md-input type="text" #photo placeholder="Photo Url" required autocomplete="off"/>
    </md-input-container><br />
    <md-input-container>
      <input md-input type="number" step="250" #price placeholder="Price" min="250" required autocomplete="off"/>
    </md-input-container><br />
    <md-input-container>
      <input md-input type="number" step="5" #discount placeholder="Discount" min="0" autocomplete="off"/>
    </md-input-container><br />
    <select id="cat" class="form-control" #category>
      <option id="cat" *ngFor="let category of myDataService.categories | async" [value]="category.name">
        {{ category.name }}
      </option>
    </select>
    <md-input-container>
      <input md-input type="text" #description placeholder="Description" autocomplete="off"/>
    </md-input-container><br />
    <button md-raised-button (click)="onSubmit(category, name, photo, price, discount, description)">Submit</button>
  </form>
</md-card>
<md-card class="child col-sm-6">
  <img md-card-image src="{{ photo.value }}">
  <md-card-title><b class="heading">{{ name.value }}</b></md-card-title>
  <md-card-content>
    <span class="noticeable" *ngIf="discount.value != 0">- {{ discount.value }}%</span>
    <span *ngIf="price.value != 0">
      <b>{{ price.value }}</b>
      kr.
    </span>
  </md-card-content>
  <md-card-footer id="newProduct" class="col-xs-offset-6">New Product</md-card-footer>
</md-card>
</div>