<md-card class="main no-style col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8" *ngIf="myDataService.activeProduct.value">
  <div class="col-xs-offset-2 col-xs-8 col-sm-offset-0 col-sm-6">
    <md-card>
      <md-card-content>
        <img md-card-image src="{{ myDataService.activeProduct.value.photo }}">
      <md-card-title>
      </md-card-title>
      </md-card-content>
    </md-card>
  </div>
  <div class="col-xs-offset-2 col-xs-8 col-sm-offset-0 col-sm-6">
    <md-card class="no-style">
      <md-card-actions>
        <span (click)="goBack()" class="hudd glyphicon glyphicon-chevron-left"></span>
      </md-card-actions>
      <md-card-title><h1>{{ myDataService.activeProduct.value .name}}</h1></md-card-title>
      <md-card-content>
        {{ myDataService.activeProduct.value .description}}
      </md-card-content>
      <md-card-subtitle>
        <div class="col-xs-12 col-md-5">
          <h2 class="noticable" *ngIf="myDataService.activeProduct.value .discount > 0"> -{{ myDataService.activeProduct.value .discount }}% </h2>
          <del *ngIf="myDataService.activeProduct.value.discount != 0">{{ myDataService.activeProduct.value .price | number:'1.0-0' }}</del>
          <b>{{ myDataService.activeProduct.value .dprice | number:'1.0-0' }}</b>
          kr.
        </div>
      </md-card-subtitle><br />
      <md-card-actions>
        <button class="btn btn-info" (click)="addToCart(myDataService.activeProduct)">Add To Cart</button>
      </md-card-actions>
    </md-card>
  </div>
</md-card>
