<div class="mommy">
<md-card class="child col-sm-6">
  <form>
    <md-input-container>
      <input md-input type="text" #name placeholder="Name" md-maxlength="50" required autocomplete="off"/>
    </md-input-container><br />
    <md-input-container>
      <input md-input type="text" #photo placeholder="Photo Url" required autocomplete="off"/>
    </md-input-container><br />
    <md-input-container>
      <input md-input type="text" #description placeholder="Description" autocomplete="off"/>
    </md-input-container><br />
    <button md-raised-button (click)="onSubmit(name, photo, description)">Submit</button>
  </form>
</md-card>
<md-card class="child col-sm-6">
  <img md-card-image src="{{ photo.value }}">
  <md-card-title><b class="heading">{{ name.value }}</b></md-card-title>
  <md-card-content>
    <span>
      {{ description.value }}
    </span>
  </md-card-content>
  <md-card-footer id="newProduct" class="col-xs-offset-6">New Category</md-card-footer>
</md-card>
</div>