.menuButton{
  margin-left: 5%;
}
.burgerCat{
  margin-right: 8%;
}
#top{
  top: 0;
  width: 100%;
  height: fit-content;
  position: fixed;
  z-index: 800;
}
.app-content{
  margin-top: 7em;
}
.nav{
  padding-bottom: 10px;
  width: auto;
  height: auto;
  background: white;
}
.myfade{
  height: 25px;
  z-index: 700;
  width: 100%;
  background: white; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(white, transparent); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(white, transparent); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(white, transparent); /* For Firefox 3.6 to 15 */
  background: linear-gradient(white, transparent); /* Standard syntax */
}
.catNavDiv{
  width: fit-content;
  height: 3em;
  margin-left: auto;
  margin-right: auto;
  margin-top: -2.6em;
}
@media(min-width:674px){
    .burgerCat{
      display: none;
    }
}
@media(max-width:673px){
    .normalCat{
      display: none;
    }
    .catNavDiv{
      margin-right: 0;
    }
}