<div id="top">
    <div class="nav">
        <app-logo class="logo"></app-logo>
        <app-menu class="menuButton"></app-menu>
        <div class="catNavDiv">
            <app-categories-nav class="normalCat"></app-categories-nav>
            <app-categories-nav-burger class="burgerCat"></app-categories-nav-burger>
        </div>
        <app-product-search></app-product-search>
    </div>
    <div class="myfade"></div>
</div>
<div class="app-content">
    <router-outlet></router-outlet>
</div>

