.topContainer{
  top: -10px;
  width: 100%;
  height: fit-content;
  position: fixed;
  z-index: 800;
}
.top{
  padding-bottom: 10px;
  padding-top: 10px;
  width: auto;
  height: auto;
  background: white;
}
.menuButton{
  margin-left: 5%;
}
.categoriesNavBar{
  width: fit-content;
  height: 3em;
  margin-left: auto;
  margin-right: auto;
  margin-top: -2.6em;
}
.burgerNav{
  margin-right: 8%;
}
.topFade{
  height: 10px;
  z-index: 700;
  width: 100%;
  background: white; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(white, transparent); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(white, transparent); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(white, transparent); /* For Firefox 3.6 to 15 */
  background: linear-gradient(white, transparent); /* Standard syntax */
}
.app-content{
  margin-top: 8em;
}
.basketPreview{
  width: fit-content;
  margin-left: 2%;
  margin-bottom: 3%;
  margin-right: auto;
  z-index: 600;
}
@media(min-width:674px){
    .burgerNav{
      display: none;
    }
}
@media(max-width:673px){
    .normalNav{
      display: none;
    }
    .categoriesNavBar{
      margin-right: 0;
    }
}