<div id="top">
    <button class="btn" md-raised-button (click)="sidenav.open()" id="open-menu-button">Menu</button>
    <app-product-search (click)="sidenav.close()"></app-product-search>
    <app-categories-nav (click)="sidenav.close()"></app-categories-nav>
</div>
<md-sidenav-container class="main-container">
    <md-sidenav mode="over" #sidenav class="sidenav">
        <app-side-nav (click)="sidenav.close()"></app-side-nav>
    </md-sidenav>
    <div class="app-content">
        <router-outlet></router-outlet>
    </div>
</md-sidenav-container>
