<div class="fam">
    <div class="mother">
        <md-card class="child" *ngFor="let product of myDataService.activeList | async" (click)="toDetails(product)">
            <img md-card-image [src]="product.photo">
            <md-card-title><b class="heading">{{ product.name}}</b></md-card-title>
            <md-card-content>
                <del *ngIf="product.discount != 0">{{ product.price | number:'1.0-0' }}</del>
                <b>{{ product.dprice | number:'1.0-0' }}</b>
                 kr.
            </md-card-content>
        </md-card>
    </div>
</div>